body {
    background-color: #010101 !important;
}
nav {
    backdrop-filter: blur(55px);
    /* background: rgba(255, 255, 255, 0.1); */
}
.divider {
    height: 2px;
    width: 2rem;
    display: inline-block;
}
.bg-success {
    background-color: var(--bs-success) !important;
}