:root {
    --bs-primary: #28a97d;
}
.bg-primary {
    background-color: var(--bs-primary) !important;
}

.btn-success {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
body {
    background-image: url(../../src/img/pattern/green.png) !important;
    background-repeat: repeat-x repeat-y;
}



.navbar-vertical .navbar-nav > .nav-item .nav-link.active .nav-link-text {
    color: white !important;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active
{
    background-color: var(--bs-primary) !important;
}