@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;400;500&family=Jost:wght@100;400;500&display=swap");

:root {
  --bs-primary: #28a97d;
  --bs-dark: #0d0e0f;
  --bs-success: #28a97d;
  --bs-success-transparent: #28a97e50;
  --bs-card-testimonial-height: 500px;
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--bs-dark);
}

.sans {
  font-family: "Alegreya Sans", sans-serif;
}

#section-1 {
  background-image: url(../../src/img/home/section-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.animate-section {
  animation: sectionIncrease linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100vh;
  transform: scale(1.1);
  opacity: 1;
}

@keyframes sectionIncrease {
  to {
    opacity: 0.95;
    transform: scale(1);
  }
}

.bg-xdark,
.bg-dark {
  background-color: var(--bs-dark) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.nav-link {
  color: white;
}

.card-property {
  position: relative;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
}
.card-jade {
  height: 30rem;
}
.bg-repeat {
  background-image: url(../../src/img/home/repeat.png);
  background-repeat: repeat-y;
  background-size: contain;
}
.bg-repeat-circles {
  background-image: url(../../src/img/home/pattern-circles.png);
  background-repeat: repeat-y;
  background-size: contain;
}

.btn-success {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.card-jade-video {
  background-image: url(../../src/img/home/video.png);
  background-size: cover;
  background-position: center;
}
.btn-play {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--bs-success-transparent);
}

.z-zoom-element,
.z-zoom-element:hover {
  transition: all ease 250ms;
}
.z-zoom-element:hover {
  transform: scale(1.05);
}

.carousel-container,
.carousel-inner {
  height: var(--bs-card-testimonial-height);
}
.avatar {
  object-fit: cover;
}

.avatar-xl {
  width: 7rem !important;
  height: 7rem !important;
}

#preloader {
  background-color: hsla(140, 53%, 19%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 2%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 2%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 2%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 2%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 2%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 2%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 2%, 1) 0px, transparent 50%);
  z-index: 1000000;
}

.showout {
  animation: showout 500ms ease forwards;
}

@keyframes showout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.5);
    position: relative;
    display: none;
    z-index: -1;
  }
}

.bg-gradient-darkx {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.979) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
nav {
  animation: enhace-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 300px;
}

.reveal-item {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 30;
}

@keyframes reveal {
  from {
    opacity: 0.7;
    translate: 0 50px;
    scale: 0.95;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

@keyframes enhace-header {
  to {
    background-color: #000000c6;
    backdrop-filter: blur(25px);
    scale: 1.05;
  }
}



.animation-fall-down {
  opacity: 0;
  animation: reveal 0.5s forwards var(--delay);
}
.animation-fall-right {
  opacity: 0;
  animation: revealRight 0.5s forwards var(--delay);
}

@keyframes reveal {
  from {
      translate: 0 20px;
  }
  to {
      translate: none; opacity: 1;
  }
}
@keyframes revealRight {
  from {
      translate: 20px 0;
  }
  to {
      translate: none; opacity: 1;
  }
}



.tag-dot {
  width: 1.1rem;
  height: 1.1rem;
  display: inline-block;
  border-radius: 5rem;
  margin: 4px 0 0 4px;
}
.tag:before {
  background-color: var(--color);
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.2;
  border-radius: 5rem;
}
.tag {
  z-index: 1;
  padding-left: 32px !important;
  color: white;
}
.btn-delete {
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  padding: 1px 7px !important;
  margin-left: 14px !important;
  margin-right: -12px !important;
}
.scroll-y {
  height: 500px;
}
.item-fixed {
  height: 500px;
  object-fit: cover;
}