html,
body {
    overflow-x: hidden;
}
.bg-dark-translucid {
    background-color: rgba(0, 0, 0, 0.5);
}
.home {
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}