html,
body {
    overflow-x: hidden;
}
.bg-dark-translucid-x {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}
.bg-dark-translucid {
    background-color: rgba(0, 0, 0, 0.5);
}
.home {
    height: 100vh;
    position: relative;
}
.video-floating {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-floating {
    width: 16rem !important;
    height: 16rem !important;
    top: calc(50% + -4rem);
    left: -5.5rem;
}
.carousel-item .rounded {
    border-radius: 3rem !important;

}
.carousel-item .lead
{
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.border-6 {
    border-width: .8rem !important;
}

.bg-dark-image {
    background-image: url(../../src/img/testimonials/bg.png);
    background-size: cover;
    background-position: center;
}
.bg-sponsor {
    background-image: url(../../src/img/sponsors/bg.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 680px) {
    .carousel-item .lead
    {
        font-size: 1rem;
    }
    .carousel-container, .carousel-inner {
        height: auto !important;

    }
}

.carousel-sponsors .lead {
    font-size: 1.1rem;
    line-height: 1.1rem;
}
.carousel-sponsors .carousel-container,
.carousel-sponsors .carousel-inner {
    height: auto !important;
}

.rounded-6 {
    border-radius: 3rem !important;
}

.carousel-sponsors .card-img-top {
    height: 350px;
    object-fit: cover;
    object-position: center;
}


.hide-from-bottom {
    transform: translateY(50rem);
    transition: all ease 500ms;
}

.show-from-bottom {
    transform: translateY(0);
    transition: all ease 500ms;
}
.opacity-total {
    opacity: 1 !important;
}
.opacity-100 {
    opacity: 1 !important;
}