body {
    background-color: var(--bs-light);
}
img.avatar {
    object-fit: cover;
}
.bg-priority {
    background-size: cover;
    background-position: center;
}
.bg-login {
    background-image: url(../../src/img/bg-login.jpg);
    background-size: cover;
    background-position: center;
}