:root {
    --bs-dark: #fff;
    --bs-white: #222;
    --bs-bg: #222;
    --bs-primary: #EABE3F;
    --bs-primary-dark: #b79632;
    --bs-secondary: #38372B;
    --bs-secondary-soft: #757464;
    --bs-light: #444444;
    --bs-dark-special: #000000c6;
    --bs-font-color: #000;
}

#hero {
    background-image: url(../../src/img/landing/nuuktal.png);
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgb(177, 177, 177) 85%, transparent 100%);  
}

#amenities {
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgb(177, 177, 177) 85%, transparent 100%);  
}

.navbar .nav-link.active {
    color: 222;
    opacity: 1;
    font-weight: bold;
}
.navbar .nav-link {
    font-size: 1.175rem;
    color: 222;
    opacity: 0.67;
}
.meaning-bg {
    background-image: url(../../src/img/otoch/bg-otoch.png);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgb(177, 177, 177) 85%, transparent 100%);  
}
.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.bg-secondary-soft {
    background-color: var(--bs-secondary-soft) !important;
}


@keyframes enhace-header {
    to {
      background-color: #ffffff83;
      backdrop-filter: blur(25px);
      scale: 1.05;
    }
  }
  