:root {
    --bs-bg-body: #eff3f7;
    --bs-bg-primary: #395ac7;
    --bs-bg-secondary: #283a5a;
    --bs-bg-warning: #eb4f28;
    --bs-bg-danger: #e7311d;
    --bs-bg-success: #29e439;
    --bs-bg-dark: #141e30;
    --bs-bg-light: #eff3f7;
}