:root {
    --bs-bg-body: #451e83;
    --bs-bg-primary: #0091ff;
    --bs-bg-secondary: #464b5f;
    --bs-bg-warning: #eb4f28;
    --bs-bg-danger: #e7311d;
    --bs-bg-success: #29e439;
    --bs-bg-dark: #232535;
    --bs-bg-light: #eff3f7;
}
body {
    background-image: url(../img/bg-template-vcard-5.jpg);
}
.bg-primary {
    background-color: var(--bs-bg-primary) !important;
}
.bg-secondary {
    background-color: var(--bs-bg-secondary) !important;
}
.bg-warning {
    background-color: var(--bs-bg-warning) !important;
}
.bg-danger {
    background-color: var(--bs-bg-danger) !important;
}
.bg-success {
    background-color: var(--bs-bg-success) !important;
}
.bg-dark {
    background-color: var(--bs-bg-dark) !important;
}
.bg-light {
    background-color: var(--bs-bg-light) !important;
}
/* cards */
.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.5) !important;
}
#card-social,
#card-qr,
#card-share {
    border: none;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.1) !important;
}
#card-share a {
    color: var(--bs-bg-primary) !important;
}
.btn-social {
    font-size: 1.5rem;
}
.text-socials {
    color: var(--bs-bg-primary) !important;
}
.text-light {
    color: var(--bs-bg-primary) !important;
}