body {
    background-color: #010101 !important;
}
nav {
    backdrop-filter: blur(55px);
    /* background: rgba(255, 255, 255, 0.1); */
}
.divider {
    height: 2px;
    width: 2rem;
    display: inline-block;
}
.us {
    background-image:url(../../src/img/home/us.png?t=1);
    height: 40rem; 
    background-size:cover;
    background-repeat: no-repeat
}